$background-color: #FEFDF8;
$foreground-color: #454544;
$quote-color: #6A6A69;
$red-color: #c82829;
$orange-color: #f5871f;
$yellow-color: #eab700;
$green-color: #454544;
$blue-color: #454544;
$purple-color: #454544;
$tag-color: #454544;
$white-color: #ffffff;
