$background-color: #fafafa;
$foreground-color: #4d4d4c;
$quote-color: #8e908c;
$red-color: #c82829;
$orange-color: #f5871f;
$yellow-color: #eab700;
$green-color: #718c00;
$blue-color: #4271ae;
$purple-color: #8959a8;
$tag-color: #66cccc;
$white-color: #ffffff;
