$background-color: #2c2525;
$foreground-color: #f2e3e6;
$quote-color: #8e908c;
$red-color: #ff6188;
$orange-color: #fc9867;
$yellow-color: #ffd866;
$green-color: #a9dc76;
$blue-color: #78b7e8;
$purple-color: #ab9df2;
$tag-color: $green-color;
$white-color: $background-color;
