// Google Fonts
@import "./colors";
@import "./fonts/fonts";
@import "./vars";

* {
  font-family: $font-name;
}

button.btn {
  border: none;
  border-radius: 5px;
  color: $white-color;
  background-color: $foreground-color;
  font-size: $text-size;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;

  &.svg {
    padding: 2px 4px;
    background: transparent;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $background-color;
  font-size: $text-size;

  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
}

.container {
  max-width: 700px;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .authenticator {
    $avatar-size: 32px;
    $margin-size: 5px;
    position: absolute;
    top: $margin-size;
    right: $avatar-size - $margin-size;
    z-index: 3;
    .btn {
      margin: 0;
    }
    .user-info {
      position: relative;
      .user-avatar {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 3px;
      }
      .user-menu {
        background: $background-color;
        margin: 0;
        padding: 0;
        list-style: none;
        border-radius: 3px;
        text-align: right;
        position: absolute;
        top: $avatar-size;
        right: 0;
        display: none;
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
          0 3px 6px rgba(0, 0, 0, 0.08);
        li {
          cursor: pointer;
          padding: 5px 8px;
          color: $foreground-color;
          &:hover {
            color: $quote-color;
          }
        }
      }
      &:hover {
        .user-menu {
          display: block;
        }
      }
    }
  }

  .content {
    flex: 1;
    position: relative;
    margin-right: -20px;

    .highlight-layer,
    .editor-layer {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px 15px;
      margin: 0;
      font-size: $text-size;
      line-height: 1.7em;
      border: none;
      resize: none;
      tab-size: 2;
      box-sizing: border-box;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .highlight-layer {
      z-index: 2;
      background: transparent;
      pointer-events: none;
      overflow-y: auto;
    }

    textarea {
      z-index: 1;
      outline: none;
      -webkit-text-fill-color: transparent;

      &::-webkit-input-placeholder {
        -webkit-text-fill-color: initial;
      }

      &::selection {
        background: #ffecb3;
      }

      &::-moz-selection {
        background: #ffecb3;
      }
    }
  }
}

.btn {
  padding: 5px 8px;
  font-size: $text-size;
  background: $blue-color;
}

.msg {
  padding: 5px 8px;
  font-size: $text-size;
  border-radius: 3px;
  max-width: 350px;
  margin-top: 5px;
  transition: 0.5s all;
  &.closing {
    opacity: 0;
  }
  &.msg-warning {
    background: rgba($yellow-color, 0.4);
    color: $foreground-color;
  }
}

.textbox {
  background: darken($color: $background-color, $amount: 5);
  border: none;
  font-size: 1.0em;
  padding: 3px 8px;
  margin-right: 5px;
  border-radius: 5px;
  min-width: 240px;
}

.header {
  padding: 5px;
  display: flex;
  flex-direction: row;
  font-size: 0.8em;

  .separator {
    flex: 1;
  }

  .btn {
    font-size: 1.0em;
    border-radius: 5px;
    margin-right: 5px;
    background-color: $quote-color;

    &:last-child {
      margin-right: 0;
    }
  }

  .btn svg {
    fill: $quote-color;
  }

  .status-text {
    line-height: 26px;
    padding-right: 10px;
  }
}

.control-section {
  border-bottom: 1px solid $quote-color;
  padding: 10px;
  font-size: 0.8em;

  .section {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    &.separator {
      border-top: 1px solid lighten($quote-color, 50%);
      margin-top: 10px;
      padding-top: 10px;
    }
    .btn { font-size: 1.0em; }
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
    label {
      width: 30%;
    }
    input {
      flex: 1;
    }
  }
}